{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}Stores{% endblock %}</h1>
{% endblock %}
{% block content %}
    <form method="get" class="mb-4">
        <input type="text"
               name="search"
               value="{{ search }}"
               placeholder="Search stores..."
               class="form-control" />
    </form>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for store in stores %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ store['name'] }}</h5>
                        <p class="card-text text-muted">{{ store['username'] }}</p>
                        <p class="card-text">Address</p>
                        <small>05336732940</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
