<!DOCTYPE html>
<title>
    {% block title %}{% endblock %}
- D20</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Domine:wght@400..700&display=swap"
      rel="stylesheet">
{{ bootstrap.load_css() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
    <nav class="navbar navbar-dark bg-dark px-3">
        <h1 class="navbar-brand">
            Flaskr
            <img src="{{ url_for('static', filename='logo.png') }}"
                 width="50"
                 height="50">
        </h1>
        <ul class="navbar-nav d-flex flex-row gap-3">
            {% if g.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for("stores.stores") }}">Stores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for("auth.view_sessions") }}">My Sessions</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link">{{ g.user['username'] }}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for("auth.logout") }}">Log Out</a>
                </li>
            {% elif g.store %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for("stores.my_store") }}">My Store</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link">{{ g.user['name'] }}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for("auth.logout") }}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for("auth.register") }}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for("auth.login") }}">Log In</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div class="container mt-4">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}<div class="alert alert-warning">{{ message }}</div>{% endfor %}
        {% block content %}{% endblock %}
    </div>
    {{ bootstrap.load_js() }}
</body>
